<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Liederdatenbank des Heilsbrunnen</title>
  </head>
  <body>
    <h1>About</h1>
    <p>
     About this Website
    </p>
  </body>
</html>