<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Liederdatenbank des Heilsbrunnen</title>
  </head>
  <body>
    <h1>Liederdatenpbank App</h1>
    <p>
      Herzlich Willkommen
    </p>
  </body>
</html>