<h1>Liederdatenbank</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Herzlich Willkommen bei der Liederdatenbank der Kirche zum Heilsbrunnen, klicken Sie auf den Link um Ihren Account zu aktivieren:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token, email: @user.email) %>